{% extends "base.html" %}

{% block content%}
<h3>Violations</h3>

<form action="scan" method="post">
{% csrf_token %}
<button type="submit" class="btn btn-sm btn-success">Scan For Violations</button>
</form>

<div class="row ml-2 mr-2">
    <div class="col">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Connected Policy</th>
                <th scope="col">Resource Name</th>
                <th scope="col">First Appearance</th>
                <th scope="col">Fixed Date</th>
            </tr>
            </thead>
            <tbody>
            {% for violation in violationsList %}
                <tr>
                <th scope="row">{{ violation.connectedPolicy }}</th>
                <th>{{ violation.resourceName }}</th>
                <th>{{ violation.date }}</th>
                <th>{{ violation.fixedDate }}</th>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock content %}